<!doctype html>
<html ng-app="MemerOptions">
  <head>
    <title>Memer Options</title>
    <script src="/lib/javascript/angular.min.js"></script>
   	<link rel="stylesheet" href="/lib/stylesheets/options.css"></link>
  </head>
  <body ng-controller="TrollCtrl">
  	<div>
		<input ng-model="searchTerm" placeHolder="Filter Trolls..." />
		<table>
		    <thead>
		    <tr>
		        <th>Name</th>
		        <th>Description</th>
		        <th>Image</th>
		        <th></th>
		    </tr>
		    </thead>
		    <tbody>
		        <tr ng-repeat="troll in trolls | filter:searchTerm">
		            <td>{{troll.name}}</td>
		            <td>{{troll.description}}</td>
		            <td>{{troll.image}}</td>
		            <td><button ng-click="deleteTroll(troll);">Delete</button></td>
		        </tr>
		    </tbody>
		</table>
	</div>
	</br>
	</br>
	</br>
	<div>
		<h2>Add a New Troll</h2>
		<form ng-submit="createNewTroll()">
		    Fark Handle: <input ng-model="newTrollName" />
		    Description: <input ng-model="newTrollDescription" />
		    Troll Image:
			<select id="trollImage" ng-model="newTrollImage">
				<option value="Successful_Troll">Successful Troll</option>
				<option value="Troll_Face">Trollface</option>
				<option value="Obvious_Troll">Obvious Troll</option>
				<option value="Troll_Spray">Troll Spray</option>
			</select>
		    <button ng-disabled="!newTrollName">Add</button>
		</form>
	</div>
	<div id="status"></div>
	</br>
	<button id="save" ng-click="saveTrolls();">Save Trolls</button>
	<script src="/lib/javascript/options.js"></script>
  </body>
</html>