<!doctype html>
<html ng-app="MemerOptions">
  <head>
    <title>Memer Options</title>
    <script src="/lib/javascript/angular.min.js"></script>
    <script src="/lib/javascript/trolls.js"></script>
   	<link rel="stylesheet" href="/lib/stylesheets/options.css"></link>
  </head>
  <body ng-controller="TrollCtrl">
	<span style="float:right">Filter the list: <input ng-model="searchTerm" /></span>
	<h2>Trolls:</h2>
	<table>
	    <thead>
	    <tr>
	        <th>ID</th>
	        <th>Name</th>
	        <th></th>
	    </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="trollMember in trolls | filter:searchTerm">
	            <td>{{trollMember.id}}</td>
	            <td>{{trollMember.name}}</td>
	            <td><button ng-click="deleteTroll(trollMember);">Delete</button></td>
	        </tr>
	    </tbody>
	</table>

	<h2>New Troll</h2>
	<form ng-submit="createNewTroll()">
	    Name: <input ng-model="newMemberName" />
	    <button ng-disabled="!newMemberName">Add</button>
	</form>
  	Favorite color:
	<select id="color">
	 <option value="red">red</option>
	 <option value="green">green</option>
	 <option value="blue">blue</option>
	 <option value="yellow">yellow</option>
	</select>

	<label>
	  <input type="checkbox" id="like">
	  I like colors.
	</label>

	<div id="status"></div>
	<button id="save">Save</button>
	<script src="/lib/javascript/options.js"></script>
  </body>
</html>